.dropzone {
  border: 2px dashed $grey-border;
  height: 200px;
  border-radius: 8px;
  transition: 1s ease;
}

.active-dropzone {
  background-color: $active;
  transition: 1s ease;
}

.active-dropzone::after {
    content: "That file looks good!";
    font-size: 20px;
}

.reject-dropzone {
  background-color: $rejected;
  transition: 1s ease;
}

.reject-dropzone::after {
    content: "Sorry, I can't accept that type of file!";
    font-size: 20px;
}

.filename {
  text-decoration: underline;
  text-decoration-color: $active;
}
