@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  background-color: $background;
  color: $text-color;
}

.btn {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  color: $text-color;
  background-color: $active;
  transition: 0.5s ease;
  cursor: pointer;
  &:hover {
    background-color: darken($active, 10%);
  }
}

.shadow-text {
  text-shadow: 0px 0px 3px black;
}

.table {
  max-width: 100%;
  width: auto;
}

.table thead th {
  text-align: center;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: darken($background, 5%);
}

.table-hover tbody tr:hover {
  background-color: darken($background, 10%);
  transition: 0.5s ease;
}
